body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0; 
}
.texto-justificado{
    text-align: justify;
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 8px;
}
.cabecera{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    padding: 5px;
}

.emp-img{
    display: flex;
    justify-content: flex-start;
}

.botones{
    display: flex;
    justify-content: flex-end;
}

.boton-a a{
    background-color: rgb(197, 181, 211);
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding:5px 60px;
    border-radius: 8px;
    box-shadow: 3px 3px 15px purple;
    width: 150px;
    margin-left: 5px;
    max-width: 50%;
}

.boton-aa a{
    background-color: rgb(197, 181, 211);
    display: none;
    text-align: center;
    text-decoration: none;
    color: white;
    padding:5px 60px;
    border-radius: 8px;
    box-shadow: 3px 3px 15px purple;
    width: 150px;
    margin-left: 5px;
    max-width: 50%;

}

.contenedor_c{
    display: flex;
    flex-direction: column;
}
/*.img-logo{
    max-width: 100%;
    height: auto;  

}*/

.c1-left{
    background-color:rgb(197, 181, 211);
    color:white;
}

.c1-left img{
    width: 100%; 
    height: auto; 
    display: flex;
    align-items: stretch;
}

.c2-right{
    background-color:rgb(146, 98, 192);
    color:white;
}

.c2-right .boton-a{
    display: flex;
    justify-content: flex-start;
}

.c3-under-left{
    background-color:rgb(146, 98, 192);
    color:white;
}

.c4-under-right{
    background-color:rgb(197, 181, 211);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c4-under-right img{
    margin-top: 10px;
}


.star{    
    display: flex;
    gap: 10px;
}

.icon-link{
    display: flex;
    flex-direction: column;
    align-items: center;
   /* justify-content: space-between;*/
}

.link{
    text-align: end;
    margin-right: 30px;
}

.footer{
    text-align: center;
}

.id{
    display: flex;
    justify-content: space-around;
}

.card{
    background-color: rgb(188, 188, 188);
    border-radius: 10px;
    padding: 25px;
    margin-top: 40px;
}
.card p{
    color: rgb(146, 98, 192);
    line-height: 22px;
}

.cabecera-card{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecera-card img{
        width: 50px;
        border-radius: 100px;
}


@media screen and (min-width: 768px) {
    .boton-aa a{
        display: block;
    }

    boton-a{
        display:flex;
        margin-left: 10px;
    }

    .contenedor_c{
        display: flex;
        flex-flow: row wrap;
        text-align: center;
    }

    .c1-left{
        width: 50%;
        height: auto;
    }

    .c2-right{
        width: 50%;
        height: auto;
    }

    .c3-under-left{
        width: 50%;
        height: auto;
    }

    .c4-under-right{
        width: 50%;
        height: auto;
    }
   
}