body{
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;

}

.contenedor{
    margin: 15px;
}

.footer-left{
    background-color: red;
    color: black;
}

.footer-right{
    background-color: yellow;
    color: black;
}

.footer-under-left{
    background-color: green;
    color: black;
}

.footer-under-right{
    background-color: blue;
    color: black;
}

@media screen and (min-width: 768px) {

    .contenedor{
        margin: 10px;
    }

    .cabecera{
        background-color: pink;
        display: flex;
        justify-content: space-between;
        height: 100px; 
    }

    .footer{
        display: flex;
        flex-flow: row wrap;
        text-align: center;
     }

    .footer-left{
        width: 50%;       

    }
    .footer-right{
        width: 50%;
    }

    .footer-under-left{
        width: 50%;
    }

    .footer-under-right{
        width: 50%;
    }

    .id{
        display: flex;
        justify-content: space-around;
    }

    .icon-link{
        display: flex;
        justify-content: space-between;
    }

    .fin{
        text-align: center;
    }


}